* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.page {
  max-width: 100vw;
  margin: 10 auto;
  height: 100vh;
  background-color: #28add1;;
  overflow-y:scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:"Optima", serif;
}

.finalAnswer{
  font-size: 5vh;
  margin: 9vh;
}

.leaderboardColumn{
  display: flex;
  flex-direction: column;
  background-color: #FFCE6F;
  width: 350px;
  height: 200px;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  margin: 8vh;
}

.fact{
  background-color: #BBC0EE;
  color: black;
  font-size: 15px;
  text-align: center;
  width: 350px;
  height: calc(40px);
  border-radius: 10px;
  overflow-x:calc();
  
}

.readyButton{
  font-size: 17px;
  background-color: #0F888D;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
} 

.readyButton:hover{
    background-color: #52c9cd;
}

.readyButton:disabled{
    background-color: #52c9cd;
}